{% extends "layouts/base.html" %}

{% block content %}

<div class="card">

    <div class="card-header">

        <h3>

            Customer Details

        </h3>

    </div>

    <div class="card-body">

        <table class="table">

            <tr>

                <th width="250">

                    Customer Code

                </th>

                <td>

                    {{ customer.customer_code }}

                </td>

            </tr>

            <tr>

                <th>

                    Customer Name

                </th>

                <td>

                    {{ customer.customer_name }}

                </td>

            </tr>

            <tr>

                <th>

                    Mobile

                </th>

                <td>

                    {{ customer.mobile }}

                </td>

            </tr>

            <tr>

                <th>

                    Email

                </th>

                <td>

                    {{ customer.email }}

                </td>

            </tr>

            <tr>

                <th>

                    GSTIN

                </th>

                <td>

                    {{ customer.gstin }}

                </td>

            </tr>

            <tr>

                <th>

                    City

                </th>

                <td>

                    {{ customer.city }}

                </td>

            </tr>

            <tr>

                <th>

                    State

                </th>

                <td>

                    {{ customer.state }}

                </td>

            </tr>

        </table>

    </div>

</div>

{% endblock %}
