{% extends "layouts/base.html" %}

{% block title %}

ADS ERP

{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-8">

        <div class="card shadow">

            <div class="card-body text-center">

                <h1>

                    ADS ERP

                </h1>

                <p class="lead">

                    Inventory • Billing • Reports

                </p>

                <a
                    href="/login"
                    class="btn btn-primary">

                    Login

                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}
